Check Mode (listing machines that need upgrading/protected/changed.)

The following tags have been used in this run:
TAGS: {{ ansible_run_tags }}

{% for host in ansible_play_hosts %}
HOST: {{ host }}:
{%    for thetag in ansible_run_tags %}
{%         if hostvars[host][thetag ~ '-RESULTS'] is defined %}
                     {{ thetag }}:{% if hostvars[host][thetag ~ '-RESULTS']['changed'] %}Failed{% else %}Passed{%  endif %}
{%         endif %}
{%    endfor %}
{% endfor %}

Ran on {{ ansible_date_time.iso8601 }}
