Check Mode (listing machines that need upgrading/protected/changed.)

{% for host in ansible_play_hosts %}
{% if hostvars[host]['V-38668-RESULTS'] is defined %}
  HOST: {{ host }} V-38668: {{ hostvars[host]['V-38668-RESULTS']['changed'] | default('NO-V-38668-RESULTS') }}
{% else %}
  HOST: {{ host }} V-38668: NO-V-38668-RESULTS
{% endif %}
{% endfor %}

Ran on {{ ansible_date_time.iso8601 }}
